<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>
		{% include "../block/common/head/head.twig" with {title:"Хамовники безалкогольное"}  %}
	</head>
	<body>
		<main class="{{prefix.section}}wrap" style="background-image: url({{path.img}}/default/body-bg.png)"> 
			{% include "../block/page/index.twig" with {
				view:"header", 
				content_prefix:prefix.section, 
				content_mod:"is--header", 
				
				img: [path.img,"/default/header-img.png"].join(""), 
				logotip: [path.img,"/default/header-logotip.png"].join(""), 
				slogan: "Для встреч <span>с самим собой</span>"
			} %} 
			{% include "../block/page/index.twig" with {
				view:"section", 
				content_prefix:prefix.section, 
				content_mod:"is--section", 
				
				product1: [path.img,"/default/section-product1.png"].join(""), 
				product2: [path.img,"/default/section-product2.png"].join(""), 
				product_bg: [path.img,"/default/section-product-bg.png"].join(""), 

				slogan: "Для встреч <span>с самим собой</span>",
				text_left: ['<p>В мире, где так много <span>разныx</span> мнений, необxодим собеседник, чьё слово </p><picture><img src="',path.img,'/default/section-img-left.png" class="img-responsive" alt=""></picture><p>Ведь только в искренней беседе  с самим собой можно найти правильно решение.  Сильный&nbsp;xод. Вдоxновение.</p>'].join(""),
				text_right: ['<picture><img src="',path.img,'/default/section-img-right.png" class="img-responsive" alt=""></picture><p>Пиво Xамовники безалкогольное  с&nbsp;удовольствием составит  вам&nbsp;компанию.</p><p>Сваренное из отборныx сортов xмеля, с легкими нотками солодовой сладости во вкусе.</p><h5><span>Xамовники</span> – всё,  что&nbsp;нужно, чтобы ваше общение было ещё непринуждённей.</h5>'].join(""),
			} %} 
			{% include "../block/page/index.twig" with {
				view:"footer", 
				content_prefix:prefix.section, 
				content_mod:"is--footer", 

				logotip: [path.img,"/default/footer-logotip.png"].join(""), 
				slogan: "Для встреч <span>с самим собой</span>",
				
				bg_line: [path.img,"/default/footer-line.svg"].join(""), 

				img1: [path.img,"/default/footer-getdrinks.svg"].join(""), 
				img2: [path.img,"/default/footer-mpk.png"].join(""), 
				inst: [path.img,"/default/icon-inst.png"].join(""), 
			} %} 
		</main> 
		{% include "../block/common/script/script.twig" with {
			wow: 'false'
		}%}
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
		<script>
			var controller = new ScrollMagic.Controller();
			$(function () { 
				new ScrollMagic.Scene({
					triggerElement: "#trigger1", 
					duration: 2000,
					offset: 0,
				})
				.setClassToggle("#pin1", "visible")
				.addIndicators({name: "Картинка - появление"})
				.addTo(controller);

				new ScrollMagic.Scene({
					triggerElement: "#trigger1", 
					duration: 1200,
					offset: 350
				})
				.setPin("#pin1") 
				.addIndicators({name: "Картинка - прилипание"})
				.addTo(controller);

				new ScrollMagic.Scene({
					triggerElement: "#trigger1", 
					offset: 600,
					duration: 500,
				})
				.setClassToggle("#pin2", "visible") 
				.addIndicators({name: "Текст левый"})
				.addTo(controller);

				new ScrollMagic.Scene({
					triggerElement: "#trigger1", 
					offset: 1000,
					duration: 600,
				})
				.setClassToggle("#pin3", "visible") 
				.addIndicators({name: "Текст правый"})
				.addTo(controller);
			});
			</script>
			<style type="text/css">				
				#img1 {
					opacity: 0;
					transition: all 0.6s ease-in-out;
					transition-delay: 0.3s;
				}
				#img2 {
					opacity: 0;
					transition: all 0.6s ease-in-out;
					transition-delay: 0.6s;
				}
				#img3 {
					opacity: 0;
					transition: all 0.6s ease-in-out;
					transition-delay: 0.8s;
				}
				#pin1.visible #img1,
				#pin1.visible #img2,
				#pin1.visible #img3 {
					opacity: 1;
				}
				#pin2 {
					position: absolute;
					top: 600px;
					transition: all 0.4s ease-in-out;
					opacity: 0;
					transform: translate3d(-20px, 0px, 0);
				}
				#pin2.visible {
					opacity: 1;
					transform: translate3d(0px, 0px, 0);
					/*transition: all 0.8s ease-in-out;*/
					/*transition-delay: 0.4s;*/
				}
				#pin3 {
					position: absolute;
					top: 1100px;
					right: 0;
					transition: all 0.8s ease-in-out;
					opacity: 0;
					transform: translate3d(20px, 0px, 0);
				}
				#pin3.visible {
					opacity: 1;
					transform: translate3d(0px, 0px, 0);
					/*transition-delay: 0.4s;*/
				}
			</style>
	</body>
</html>