<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>
		{% include "../block/common/head/head.twig" with {title:"Хамовники безалкогольное"}  %}
	</head>
	<body>
		<main class="{{prefix.section}}wrap" id="fullpage" style="background-image: url({{path.img}}/default/body-bg.png)">
			{% include "../block/page/index.twig" with {
				view:"header", 
				content_prefix:prefix.section, 
				content_mod:"is--header", 
				content_bg_pattern: [path.img,"/default/header-bg-pattern.png"].join(""),
				content_bg: [path.img,"/default/header-bg-men.png"].join(""),
				
				logotip: [path.img,"/default/header-logotip.png"].join(""), 
				slogan: "Для встреч <span>с&nbsp;самим собой</span>"
			} %}
			{% include "../block/page/index.twig" with {
				view:"slide", 
				content_prefix:prefix.section, 
				content_mod:"is--section", 
				content_group:"fp-section-section-1", 
				content_bg: [path.img,"/default/section-1-bg.png"].join(""),
				
				product1: [path.img,"/default/product1.png"].join(""), 
				product2: [path.img,"/default/product2.png"].join(""), 
				product_bg: [path.img,"/default/product-bg.png"].join(""), 

				slogan: "Для встреч <span>с&nbsp;самим собой</span>"
			} %}
			{% include "../block/page/index.twig" with {
				view:"slide", 
				content_prefix:prefix.section, 
				content_mod:"is--section", 
				content_group:"fp-section-section-2  scroll--xs", 
				content_bg: [path.img,"/default/section-2-bg.png"].join(""),

				text_left: ['<p>В&nbsp;мире, где так много <span>разных</span> мнений, необходим собеседник, чьё слово</p><picture><img src="',path.img,'/default/section-img-left.png" class="img-responsive" alt=""></picture><p>Ведь только в&nbsp;искренней беседе  с&nbsp;самим собой можно найти правильно решение. Сильный xод. Вдохновение.</p>'].join(""),
			} %} 
			  
			 {% include "../block/page/index.twig" with {
				view:"slide", 
				content_prefix:prefix.section, 
				content_mod:"is--section", 
				content_group:"fp-section-section-3  scroll--xs",
				content_bg: [path.img,"/default/section-3-bg.png"].join(""),

				text_right: ['<picture><img src="',path.img,'/default/section-img-right.png" class="img-responsive" alt=""></picture><p>Пиво Хамовники безалкогольное с&nbsp;удовольствием составит вам компанию.</p><p>Сваренное из&nbsp;отборных сортов хмеля, с&nbsp;легкими нотками солодовой сладости во&nbsp;вкусе.</p><h5><span>Хамовники</span>&nbsp;— всё,  что нужно, чтобы ваше общение было ещё непринуждённей.</h5>'].join(""),
			} %} 
			{% include "../block/page/index.twig" with {
				view:"footer", 
				content_prefix:prefix.section, 
				content_mod:"is--footer",  
				content_group:"scroll--xs", 
				content_bg: [path.img,"/default/footer-bg.png"].join(""),

				logotip: [path.img,"/default/footer-logotip.png"].join(""), 
				slogan: "Для встреч <span>с&nbsp;самим&nbsp;собой</span>",
				
				bg_line: [path.img,"/default/footer-line.svg"].join(""), 

				img1: [path.img,"/default/footer-getdrinks.svg"].join(""), 
				img2: [path.img,"/default/footer-mpk.png"].join(""), 
				inst: [path.img,"/default/icon-inst.png"].join(""), 
			} %} 
		</main>  
		{% include "../block/common/script/script.twig" with {
			fullpage: 'true'
		}%}
	</body>
</html>